<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Dashboard élève{% endblock %}</title>
</head>
<body>
<header>Webmath</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/blog/">Cours</a></li>
            <li><a href="/contact/">Profs</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Sébastien Chuat</footer>
</body>
</html>