<!DOCTYPE html>
<html lang="fr">
<head>
   <llink href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <title>{% block title %}Dashboard élève{% endblock %}</title>
</head>
<body>
<header>Webmath</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/dashboard/date">Home</a></li>
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/dashboard/cours">Cours</a></li>
            <li><a href="/contact/">Profs</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Sébastien Chuat</footer>
</body>
</html>